.rect {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: orangered;
    // translate(x, y)
    // pxだけでなく、%やemなども指定できる
    // transform: translate(50px, 50px);
    // rotate(角度)
    // transform: rotate(-30deg);
    // 回転の中心を指定する、デフォルトは中心
    // transform-origin: center center;
    // skew(x, y), 斜めの線を表現したいときに使う
    // transform:skew(-30deg, -30deg);
    // scale(x, y), 拡大縮小
    // transform: scale(2, 2);
    transform: translateX(50px) scaleY(2);
}