$cBlack: rgb(95, 95, 95);
$white: #fff;

#container {
    text-align: center;
}

.btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    margin: 50px 0;
    /* font-weight 標準値は500 */
    font-weight: 600;
    cursor: pointer;
    transition:all 0.3s;

    &.float {
        &:hover {
            box-shadow: 0 0 10px $cBlack;
        }
    }

    // &:hover {
    //     background-color:black;
    //     color:white;
    // }
}
