a {
    color: orange;

    &:visited {
        color: blue;
    }

    &:hover {
        color: red;
    }

    &:focus {
        color: green;
    }

    &:active {
        color: purple;
    }
}
// nth-child は1から数える
// nth-of-type は同じタイプの要素の中で1から数える
div {
    & span {
        color: olive;

        &:nth-child(even){
            color: purple;
        }
    }
}