/* span {
    display: inline-block;
    width : 100px;
    height:400px;
    background-color: magenta;
}

.cls {
    display : inline-block;
    width : 100px;
    height: 400px;
    background-color: gray;
} */
/* 一番優先順位が低い */
/* 検証ツールでは優先度順にスタイルが表示される */
.parent {
    color : blue;
    font-weight: 600;
}

span {
    color: purple;
}

.cls {
    color: orange;
}

#first {
    color: magenta;
}

.parent span {
    color: red;
}