@use "mq" as *;

// モバイルファーストのスタイル
// モバイル用のスタイル
h1 {
  color: red;
  background: yellow;

  @include mq(sm){
    color: blue;
  }
  @include mq(md){
    color: green;
  }
  @include mq(lg){
    color: purple;
  }
  @include mq(xl){
    color: orange;
}
}

// // デスクトップ用のスタイル
// @media screen and (min-width: 601px) {
//   h1 {
//     color: blue;
//   }
// }

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
//   h1 {
//     color: green;
//   }
// }